
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Nutrients Tips</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/style.css' %}?v2">
</head>

<body>

<nav>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'nutrients' %}">Nutrients</a>
  <a href="{% url 'contact' %}">Contact</a>
</nav>

<header>
<h1>Healthy Eating Tips</h1>
<h2>Essential nutrients for kids'growth</h2>
</header>

<main>
    <section class="content-row">


<div class="video-box">

<h2>Healthy Food Habits for Kids</h2>

<video id="fruitVideo" width="320" controls>
<source src="{% static 'videos/food-habits.mp4' %}" type="video/mp4">
</video>


<audio id="bgmusic">
<source src="{% static 'videos/kidbgm.mp3' %}" type="audio/mpeg">
</audio>

<ul>
<li>Fruits: strawberries, bananas, apples</li>
<li>Vegetables: zucchini, carrots, spinach</li>
<li>Proteins: eggs, chicken, lentils</li>
</ul>

<ol>
<li>Eat colorful foods daily</li>
<li>Include protein in each meal</li>
<li>Drink plenty of water</li>
</ol>
</div>
<div class="table-box">

    <h2>Sample Nutrient Table</h2>
<p>Here’s a summary of important nutrients for kids:</p>
<div style="overflow-x: auto;"></div>
    <table>
<caption>Weekly Nutrient Chart</caption>
<thead>
<tr>
<th>Food</th>
<th>Vitamin</th>
<th>Protein (g)</th>
<th>Energy (kcal)</th>
</tr>
</thead>
<tbody>

<tr>
<td>Strawberries</td>
<td>C</td>
<td>1</td>
<td>32</td>
</tr>

<tr>
<td>Egg</td>
<td>D</td>
<td>6</td>
<td>78</td>
</tr>

<tr>
<td>Spinach</td>
<td>A</td>
<td>3</td>
<td>23</td>
</tr>
</tbody>
</table>

<div class="table-summary"></div>
</div>
</section>
</main>

<footer>
<h2>@ 2026 Healthy Project Page</h2>
</footer>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
